@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

:root {
  --pacifico-family: "Pacifico", cursive;
  --sourceSansPro-family: "Source Sans Pro", sans-serif;
  --primary-color: #ff7700;
  --dark-color2: #9784cc82;
  --white-color: white;
}
body {
  background: rgb(240, 255, 243);
}
.primaryTextColor {
  color: var(--primary-color);
}
.marginBottom {
  margin-bottom: 2rem;
}
.navContent {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.ui.secondary.pointing.menu .active.item {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.home-carousel {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../src/img/home-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-img {
  margin: auto;
  width: 500px;
  box-shadow: 2px 2px;
}

.home-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../src/img/homeBg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  animation: changeBg 50s infinite ease-in-out;
}
.home-container h1 {
  color: var(--white-color);
  font-size: 3.5rem;
  text-align: center;
  line-height: 2;
  font-family: var(--pacifico-family);
}
h1 span {
  line-height: 1.2;
  display: block;
  width: fit-content;
  padding: 6px 18px;
  border-radius: 5px;
  color: var(--primary-color);
}
h1 {
  font-size: 3rem;
  color: var(--primary-color);
  font-family: var(--pacifico-family);
}
p {
  font-size: 18px;
  font-family: var(--sourceSansPro-family);
}
.home-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-content-container .home-content {
  width: 60%;
}
.home-content-container img {
  width: 100%;
}

/* Animations */

@keyframes changeBg {
  0% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../src/img/homeBg1.jpg);
  }
  20% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../src/img/homeBg2.jpg);
  }
  40% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../src/img/homeBg3.jpg);
  }
  60% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../src/img/homeBg4.jpg);
  }
  80% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../src/img/homeBg5.jpg);
  }
  100% {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../src/img/homeBg6.jpg);
  }
}
